@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;400;500;700&display=swap');
:root {
  --main-bg: #FFFDF9;
  --menu-clr: #1b201d;
  --menu-clr-hover: #b03f3c;
  --title-clr: #1b201d;
  --link: #15516a;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--main-bg);
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
ul > li {
  font-size: 1.3rem;
  line-height: 1.75rem;
}

h2 {
  font-size: 1.75rem;
}

#content {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.nav-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0 25px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 18px;
}

.nav-bar a {
  color: var(--menu-clr);
  cursor: pointer;
}

.nav-bar a:hover {
  color: var(--menu-clr-hover);
  cursor: pointer;
}

.main-header {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--menu-clr);
  text-align: center;
}

#logo {
  width: 30px;
  height: auto;
}

#bistro {
  max-width: 400px;
  height: auto; 
}

.homeContent,
.contact,
.menu-content {
  display: grid;
  grid-template-rows: min-content min-content;
  align-items: flex-start;
  justify-items: center;
  margin: 50px 15px 20px;
  gap: 40px;
}

.menu-content {
  grid-template-columns: repeat( auto-fit, minmax(330px, 1fr) );
}

.menu-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(min-content, 300px);
  justify-items: center;
  box-shadow:  0 2px 4px 1px rgba(0,0,0,0.15);
  padding: 16px 8px 0;
}

.meal-img {
  max-width: 300px;
  height: auto;
}

.menu-section h2,
.menu-section p,
.contact {
  text-align: center;
}

.menu-section > h2,
.contact h2 {
  margin-bottom: 30px;
  color: var(--menu-clr-hover);
}

.menu-section > p {
  margin-bottom: 25px;
  text-transform: capitalize;
  font-weight: bold;
}

.menu-section > img {
  margin-bottom: 8px;
}

.contact h2 {
  margin-bottom: 18px;
}

.contact span {
  font-weight: bold;
}

.foot {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.foot p {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.75em;
  color: var(--title-clr);
}

footer a,
footer img {
  color: var(--link);
}

footer a:hover,
footer img:hover {
  color: var(--menu-clr-hover);
}

footer img,
.contact img {
  width: 18px;
  height: auto;
}

@media screen and (max-width: 375px) {
  .main-header {
   font-size: 2rem;
  }
 }

@media screen and (max-width: 520px) {
  #bistro,
  .meal-img {
    max-width: 90%;
  }
}